.card-container{
    width: 300px;
    display: flex;
    justify-content: center;  
}

.coin-card {
  width: 250px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
               
}

.coin-card .image-container {
  width: 60px;
  height: 60px;
}

.coin-card .image-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.card-details{
  width: 45%;
}
.card-details p{
    font-size: .85em;
    margin: 0;
}

