.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
  align-items: center;
}
.home span {
  color: lightseagreen;
}
.home button {
  margin: 10px;
  border: 0;
  padding: 10px;
}
.home button:hover{
  background-color: lightseagreen;
  
}