.footer {
  height: 100px;
  background-color: rgb(230, 255, 254);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
}
.footer .social-media-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer a {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 25px;
  color: lightslategray;
}
.footer p {
  text-align: center;
  color: lightslategray;
  font-weight: bold;
  margin-top: 10px;
}
.facebook:hover{
    color:#3b5998
}
.github:hover{
    color: #171515;
}
.twitter:hover{
    color: #00acee;
}
.linkedin:hover{
    color: #0e76a8;
}