@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.App {
  font-family: "Noto Serif", serif;
  background: linear-gradient(
    0.56deg,
    rgba(123, 157, 156, 0.25) 0.74%,
    rgba(123, 157, 156, 0) 86.46%
  );
  background: linear-gradient(
    0.56deg,
    rgba(123, 157, 156, 0.25) 35%,
    rgba(123, 157, 156, 0)
  );
  background-position: center 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
